<%= form_with model: @post, local: true do |f| %>
  <%= f.text_area :content, rows: 5 %>
  <%= f.file_field :images, multiple: true %><br>
  <div class="submit-block">
    <%= f.submit "投稿", class: "btn" %>
  </div>
<% end %>