// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome-index {

  .content-wrapper {
    display: flex;
    justify-content: space-between;

    .content-block {
      border: 2px solid #000;
      padding: 10px;
      width: 60%;

      .content {
        border: solid 2px #000;
        padding: 13px;
        margin-bottom: 10px;

        .user-about {
          display: flex;

          .image img{
            width: 100px;
            height: 100px;
          }

          .profile {
            margin-left: 10px;

            .name-history {
              width: 100%;
              display: flex;
              margin-bottom: 15px;
  
              .name {
                font-weight: bold;
              }
  
              .learning-history {
                margin-left: 20px;
              }
  
            }

          }

          .purpose {
            width: 100%;
            font-size: 13px;
          }

        }

        .images img{
          width: 100%;
        }

        .action-menu {
          display: flex;
          justify-content: flex-end;

          .fa-heart {
            color: palevioletred
          }

          .comment {
            margin-left: 15px;
          }

        }

      }

    }

    .sidebar {
      border: 2px solid #000;
      width: 20%;
      padding: 20px;

      .box {
        background-color: #000;
        height: 100px;
        width: 100px;
        margin: 10px auto;
      }

    }

  }

}